@model ArticlesApp.Models.Comment

@{
    ViewBag.Title = "Edit";
}

<h2>Editare comentariu</h2>

<br />

<form method="post" action="/Comments/Edit/@Model.Id">
    <label>Continut comentariu</label>
    
    <br />

    <textarea name="Content">@Model.Content</textarea>
    
    @Html.ValidationMessageFor(m => m.Content, null, new { @class = "text-danger" })

    <br />

    <button class="btn btn-primary" type="submit">Editeaza comentariul</button>
</form>

