@{
    ViewBag.Title = "Categorii";
}

<h2>@ViewBag.Title</h2>

<br /> 

@if (ViewBag.Msg != null)
{
    <h2 class="alert-success mb-5 text-center p-3">@ViewBag.Msg</h2>
}

<br />

<a class="btn btn-outline-success" href="/Articles/Index">Inapoi la articole</a>

<br />
<br />

@foreach (var category in ViewBag.Categories)
{
        <p>@category.CategoryName</p>
        <a class="btn alert-success" href="/Categories/Show/@category.Id">Afisare categorie</a>
        <a class="btn alert-success" href="/Categories/Edit/@category.Id">Editare categorie</a>
        <br />
        <hr />
        <br />
}

<br />

<a class="btn btn-success" href="/Categories/New">Adauga o noua categorie</a>

<br />

