@{
    ViewBag.Title = "Articole";
}

<h2>@ViewBag.Title</h2>

<br />

@if(ViewBag.Msg != null)
{
    <h2 class="alert-success mb-5 text-center p-3">@ViewBag.Msg</h2>
}

<div class="d-flex justify-content-center">
    <a class="btn btn-outline-success" href="/Categories/Index">Afisare categorii</a>
    <br/>
    <a class="btn btn-outline-success" href="/Articles/New">Adauga articol</a>
    <br/>
</div>

<br/>

@foreach (ArticlesApp.Models.Article article in ViewBag.Articles)
{
    <div class="card">
        <a class="btn btn-success" href="/Articles/Show/@article.Id">
            @Html.Partial("ArticleInfo", article)    
        </a>
    </div>

    <br/>
    <br/>
}